<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <title>Title</title>
    <%- include( 'include/head' ) %>
</head>
<body>
<%- include( 'include/navbar' ) %>
<div class="container-fluid">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <%for (i = 0; i < n; i++){ %>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="<%= link[i]%>">
                        <i class="fa-solid <%= classes[i]%>"></i>
                        <%= page[i]%>
                    </a>
                </li>
                <%}%>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>