<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include( 'include/head' ) %>
</head>
<body>
<%- include( 'include/navbar' ) %>
<div class="container main-content">
<!--    <div class="dropdown">-->
<!--        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Dropdown link-->
<!--        </a>-->
<!--        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
<!--            <li><a class="dropdown-item" href="#">USD</a></li>-->
<!--            <li><a class="dropdown-item" href="#">KZT</a></li>-->
<!--            <li><a class="dropdown-item" href="#">EUR</a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="row">
        <%for(i = 0; i < infos.length; i++) {%>
            <div class="product-block">
                <div class="card">
                    <%console.log(infos[i].imgSrc !== '')%>
                    <%if(infos[i].imgSrc !== '') {%>
                        <div class="card-img" style="background-image: url('<%= infos[i].imgSrc %>')"></div>
                    <%} else {%>
                        <div class="card-img" style="background-image: url('public/temp_Image.jpg')"></div>
                    <%}%>
                    <div class="card-body">
                        <h5 class="card-title"><%= infos[i].productName%></h5>
                        <p class="card-text card-price"><%=infos[i].price%> <%= infos[i].currency%></p>
                        <a href="/product/<%= infos[i]._id %>" class="btn btn-primary w-100">Go to product</a>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4 text-center" >
                        <i class="fas fa-gem me-3"></i>Curio Company
                    </h6>
                    <p class="overflowY">
                        We are 100% sure that every person reading this text has experienced a feeling of nostalgia. Each of us wanted to remember
                        our childhood or youth by playing games, or listening to music on an old device, or even playing CDs on an old player.
                        And sometimes it's not because you couldn't get through some level in a game on an old console, or you forgot
                        the words to a song and decided to play a recording of it on the player. No, that's far from it, to put it mildly,
                        because that game or that song can easily be found on the Internet in the public domain. What we need is the atmosphere
                        of that carefree time. After all, agree, we no longer want to play that very game and become the best at it again,
                        we want to play to recreate the very magical atmosphere that we had as children and from which we have only
                        the warmest memories.
                    </p>
                </div>
                <!-- Grid column -->

                <div class="col-md-6 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <h6>Commnet block</h6>
                </div>
                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 text-center">
                        Contact
                    </h6>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> instagram/numbers</p>
                    <p><i class="fas fa-phone me-3"></i> instagram/numbers</p>
                    <p><i class="fas fa-phone me-3"></i> instagram/numbers</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>