<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include( 'include/head' ) %>
</head>
<body>
<%- include( 'include/navbar' ) %>
<div class="container main-content">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Currency
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="/convert/USD">USD</a></li>
            <li><a class="dropdown-item" href="/">KZT</a></li>
            <li><a class="dropdown-item" href="/convert/EUR">EUR</a></li>
        </ul>
    </div>
    <div class="row">
        <%for(i = 0; i < prod.length; i++) {%>
        <%for(j = 0; j < wishlist.length; j++) {%>
        <div class="product-block">
            <div class="card">
                <%if(ID !== 0) {%>
                <a href="/wishlist/<%= prod[i]._id%>" style="color:#000;">
                    <i class="fa-solid fa-circle-plus add-wishlist"></i>
                </a>
                    <%} else if(String(ID._id) == wishlist[i].ownerID) {%>
                    <i class="fa-solid fa-circle-check wishlisted"></i>
                <%
                }
                if(prod[i].imgSrc !== '') {%>
                    <div class="card-img" style="background-image: url('<%= prod[i].imgSrc %>')"></div>
                <%} else {%>
                    <div class="card-img" style="background-image: url('public/temp_Image.jpg')"></div>
                <%}%>

                <div class="card-body">
                    <h5 class="card-title"><%=prod[i].productName%></h5>
                    <p class="card-text card-price"><%=prod[i].price * CUR%> <%= CURRENCY%></p>
                    <a href="/product/<%=prod[i]._id%>" class="btn btn-primary w-100">See</a>
                </div>
            </div>
        </div><%}%>
    </div>
</div>



<%- include( 'include/footer' ) %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>