<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <%- include( 'include/head' ) %>
</head>
<body>
<%- include( 'include/navbar' ) %>
<main class="form-signin text-center">
    <form action = "/registrationPage" method = "post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <%
        if(typeof errors != 'undefined') {
            errors.forEach((error) => {
        %>
                <div class="alert alert-danger" role="alert">
                    <%= error.msg%>
                </div>
        <%
            })
        }
        %>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name = "email" placeholder="name@example.com" value="<%= typeof email != 'undefined' ? email : ''%>">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name = "password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : ''%>">
            <label for="floatingPassword">Password</label>
        </div>
    </form>
    <button class="btn_su w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-2">or <a href="/registrationPage">Create account</a></p>
    <p class="mt-5 mb-3 text-muted">© 2022 - to be continued</p>
</main>
</body>
</html>